<div class="box center">
    <div class="box-header">
        <div class="header-title">404</div>
        <div class="header-subtitle">The page "{{ url }}" was not found.</div>
    </div>
    <div class="box-content">
        <button class="project-link" name="pensive" type="submit">Go Home</button>
    </div>
</div>